@import "tailwindcss";

:root {
    --color-bg: #fffbef;
    --color-primary: #213448;
    --color-primary-hover: #213848;
    --color-secondary: #ffae00;
    --color-secondary-hover: #f3a600;

    --color-text:#fff8f0;
}

.dark {
    --color-bg: #213448;
    --color-primary: #fffbef;
    --color-primary-hover: #fcf4dc;
    --color-secondary: #ffb20c;
    --color-secondary-hover: #f3a600;
    
    --color-text:#213448;
}

@layer base {
    body {
        transition: all 200ms ease-in-out;
        background-color: var(--color-bg);
        color: var(--color-primary);
    }
    h1{
        @apply text-xl lg:text-3xl font-bold;
    }
}